Repository Recipe-Web-App/meal-plan-management-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, kube-score, docker-compose-check, prisma-format, license-check

Path conditions:
  eslint: any of: \.(js|ts|jsx|tsx)$ and \.(js|mjs|cjs)$ and \.(ts|mts|cts)$ and not (node_modules/)
  tsc: any of: \.(ts|mts|cts)$, but not: node_modules/
  kube-score: any of: k8s/.*\.ya?ml$
  docker-compose-check: any of: docker-compose.*\.ya?ml$
  prisma-format: any of: schema\.prisma$
  license-check: any of: package\.json$

ci(renovate): added pre-commit to renovate config
  .github/renovate.json
Due: none

ci(renovate): added pre-commit to renovate config (#251)
  .github/renovate.json
Due: none

chore(ops-cli): removed gateway config from project
  k8s/gateway-route.yaml
  scripts/containerManagement/README.md
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/update-container.sh
Due: kube-score

chore: removed leftover ingress references in repo
  k8s/README.md
  k8s/networkpolicy.yaml
  scripts/containerManagement/README.md
  scripts/containerManagement/get-container-status.sh
Due: kube-score

Remove kong config (#252)
  k8s/README.md
  k8s/gateway-route.yaml
  k8s/networkpolicy.yaml
  scripts/containerManagement/README.md
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/update-container.sh
Due: kube-score

bd migrate-sync: initial sync branch setup
  .beads/issues.jsonl
  .beads/metadata.json
Due: none

feat(beads): integrated beads with repository
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  .markdownlintignore
  AGENTS.md
Due: none

feat(beads): integrated beads with repository (#253)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  .markdownlintignore
  AGENTS.md
Due: none

chore: updated claude config
  CLAUDE.md
Due: none

chore: updated claude config (#254)
  CLAUDE.md
Due: none

fix: fixed local run impl
  package.json
  src/app.module.ts
  src/config/env.validation.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/guards/jwt-auth.guard.spec.ts
  src/modules/auth/guards/jwt-auth.guard.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
  src/modules/auth/strategies/jwt.strategy.ts
  src/modules/health/health.service.ts
Due: tsc, license-check

fix: fixed local run impl (#267)
  package.json
  src/app.module.ts
  src/config/env.validation.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/guards/jwt-auth.guard.spec.ts
  src/modules/auth/guards/jwt-auth.guard.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
  src/modules/auth/strategies/jwt.strategy.ts
  src/modules/health/health.service.ts
Due: tsc, license-check

chore: migrated beads to dolt
  .beads/.gitignore
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
  AGENTS.md
Due: none

chore: migrated beads to dolt (#281)
  .beads/.gitignore
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
  AGENTS.md
Due: none
