Repository Recipe-Web-App/meal-plan-management-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, kube-score, docker-compose-check, prisma-format, npm-audit, license-check

Path conditions:
  eslint: any of: \.(js|ts|jsx|tsx)$ and \.(js|mjs|cjs)$ and \.(ts|mts|cts)$ and not (node_modules/)
  tsc: any of: \.(ts|mts|cts)$, but not: node_modules/
  kube-score: any of: k8s/.*\.ya?ml$
  docker-compose-check: any of: docker-compose.*\.ya?ml$
  prisma-format: any of: schema\.prisma$
  npm-audit: any of: package(-lock)?\.json$
  license-check: any of: package\.json$

ci: Added github workflows
  .github/DEPENDABOT.md
  .github/WORKFLOWS.md
  .github/dependabot.yml
  .github/markdown-link-check-config.json
  .github/workflows/code-quality.yml
  .github/workflows/database.yml
  .github/workflows/documentation.yml
  .github/workflows/environment.yml
  .github/workflows/issue-management.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/validate-dependabot.yml
  .markdownlint.json
  .releaserc.json
  README.md
Due: none

chore: Added tmp dir to git ignore
  .gitignore
Due: none

feat: Added kubernetes deployment
  .env.example
  .gitignore
  Dockerfile
  k8s/README.md
  k8s/configmap-template.yaml
  k8s/deployment.yaml
  k8s/horizontalpodautoscaler.yaml
  k8s/ingress.yaml
  k8s/namespace.yaml
  k8s/networkpolicy.yaml
  k8s/poddisruptionbudget.yaml
  k8s/secret-template.yaml
  k8s/service.yaml
  k8s/servicemonitor.yaml
  scripts/containerManagement/README.md
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/start-container.sh
  scripts/containerManagement/stop-container.sh
  scripts/containerManagement/update-container.sh
  src/app.controller.ts
  src/config/configuration.ts
  src/config/env.validation.ts
  src/modules/health/health.controller.ts
Due: tsc, kube-score

feat: Added enhanced logging
  CLAUDE.md
  package-lock.json
  package.json
  src/app.controller.ts
  src/app.module.ts
  src/config/configuration.ts
  src/config/database.config.ts
  src/config/env.validation.ts
  src/config/logger.config.ts
  src/shared/index.ts
  src/shared/interceptors/correlation-id.interceptor.ts
  src/shared/services/logger.service.ts
  src/shared/services/request-context.service.ts
Due: tsc, npm-audit, license-check

feat(db): implemented database models & repository
  eslint.config.mjs
  package-lock.json
  package.json
  prisma/schema.prisma
  src/app.controller.spec.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/test-utils/meal-plan.factory.ts
  src/modules/meal-plans/test-utils/prisma.mock.ts
Due: tsc, prisma-format, npm-audit, license-check

feat(db): implemented database repository
  src/modules/meal-plans/meal-plans.repository.integration.spec.ts
  src/modules/meal-plans/meal-plans.repository.ts
Due: tsc

feat(db): added database transaction utilities
  eslint.config.mjs
  src/modules/meal-plans/meal-plans.repository.transaction.spec.ts
  src/modules/meal-plans/meal-plans.repository.ts
  src/shared/database/transaction.service.spec.ts
  src/shared/database/transaction.service.ts
Due: tsc

test(db): Added seeding for test fixtures
  package-lock.json
  package.json
  src/config/configuration.ts
  src/config/database.config.spec.ts
  src/config/database.config.ts
  src/modules/health/health.service.ts
  src/shared/database/connection.service.spec.ts
  src/shared/database/connection.service.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/seed/database-seeder.ts
  src/shared/database/seed/factories/index.ts
  src/shared/database/seed/factories/meal-plan.factory.spec.ts
  src/shared/database/seed/factories/meal-plan.factory.ts
  src/shared/database/seed/factories/recipe.factory.spec.ts
  src/shared/database/seed/factories/recipe.factory.ts
  src/shared/database/seed/factories/user.factory.spec.ts
  src/shared/database/seed/factories/user.factory.ts
  src/shared/database/seed/index.ts
  src/shared/database/seed/test-database.spec.ts
  src/shared/database/seed/test-database.ts
Due: tsc, npm-audit, license-check

docs(db): added database documentation
  CLAUDE.md
  docs/DATABASE.md
  docs/DATABASE_QUICK_REFERENCE.md
  docs/DATABASE_SETUP.md
Due: none

feat(dto): added meal plan DTOs
  src/modules/meal-plans/dto/create-meal-plan-recipe.dto.spec.ts
  src/modules/meal-plans/dto/create-meal-plan-recipe.dto.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.spec.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.ts
  src/modules/meal-plans/dto/meal-plan-query.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-query.dto.ts
  src/modules/meal-plans/dto/meal-plan-response.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-response.dto.ts
  src/modules/meal-plans/dto/pagination.dto.spec.ts
  src/modules/meal-plans/dto/pagination.dto.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.spec.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.ts
Due: tsc

feat(dto): added advanced dto validation
  src/modules/meal-plans/dto/create-meal-plan.dto.spec.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.spec.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.ts
  src/modules/meal-plans/services/meal-plan-validation.service.spec.ts
  src/modules/meal-plans/services/meal-plan-validation.service.ts
  src/modules/meal-plans/types/validation.types.ts
  src/modules/meal-plans/types/validator.types.ts
  src/modules/meal-plans/utils/transformation.util.spec.ts
  src/modules/meal-plans/utils/transformation.util.ts
  src/modules/meal-plans/validators/date-range.validator.spec.ts
  src/modules/meal-plans/validators/date-range.validator.ts
  src/modules/meal-plans/validators/meal-plan-overlap.validator.spec.ts
  src/modules/meal-plans/validators/meal-plan-overlap.validator.ts
  src/modules/meal-plans/validators/recipe-exists.validator.spec.ts
  src/modules/meal-plans/validators/recipe-exists.validator.ts
  src/modules/meal-plans/validators/sanitizers/simple-sanitizer.validator.spec.ts
  src/modules/meal-plans/validators/sanitizers/simple-sanitizer.validator.ts
Due: tsc

fix: Fixed all failing tests
  src/config/database.config.ts
  src/modules/meal-plans/dto/create-meal-plan-recipe.dto.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.ts
  src/modules/meal-plans/dto/meal-plan-query.dto.ts
  src/modules/meal-plans/dto/meal-plan-response.dto.ts
  src/modules/meal-plans/types/validator.types.ts
  src/modules/meal-plans/utils/transformation.util.spec.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/seed/database-seeder.ts
  src/shared/database/seed/factories/meal-plan.factory.spec.ts
  src/shared/database/seed/factories/meal-plan.factory.ts
  src/shared/database/seed/factories/recipe.factory.spec.ts
  src/shared/database/seed/factories/recipe.factory.ts
  src/shared/database/seed/factories/user.factory.spec.ts
  src/shared/database/seed/factories/user.factory.ts
  src/shared/database/seed/test-database.spec.ts
  src/shared/database/seed/test-database.ts
  src/shared/database/transaction.service.ts
Due: tsc

fix: Fixed all build issues
  src/modules/meal-plans/dto/meal-plan-response.dto.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.spec.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.ts
  src/modules/meal-plans/meal-plans.repository.ts
  src/modules/meal-plans/services/meal-plan-validation.service.spec.ts
  src/modules/meal-plans/services/meal-plan-validation.service.ts
  src/modules/meal-plans/types/validation.types.ts
  src/modules/meal-plans/types/validator.types.ts
  src/modules/meal-plans/utils/transformation.util.spec.ts
  src/modules/meal-plans/utils/transformation.util.ts
  src/modules/meal-plans/validators/date-range.validator.ts
  src/modules/meal-plans/validators/meal-plan-overlap.validator.spec.ts
  src/modules/meal-plans/validators/meal-plan-overlap.validator.ts
  src/modules/meal-plans/validators/recipe-exists.validator.spec.ts
  src/modules/meal-plans/validators/recipe-exists.validator.ts
  src/modules/meal-plans/validators/sanitizers/simple-sanitizer.validator.ts
  src/shared/database/connection.service.spec.ts
  src/shared/database/connection.service.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/seed/database-seeder.ts
  src/shared/database/seed/factories/meal-plan.factory.spec.ts
  src/shared/database/seed/factories/meal-plan.factory.ts
  src/shared/database/seed/test-database.spec.ts
  src/shared/database/seed/test-database.ts
Due: tsc

build: add build and test validation to git hooks
  .husky/pre-commit
  .husky/pre-commit.fast
  .husky/pre-push
Due: none

test(cov): added pre-commit test checks and updated to meet coverage threshold
  .husky/pre-push
  src/app.controller.spec.ts
  src/app.module.spec.ts
  src/config/database.config.spec.ts
  src/config/logger.config.spec.ts
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.service.spec.ts
  src/modules/meal-plans/test-utils/meal-plan.factory.spec.ts
  src/shared/filters/http-exception.filter.spec.ts
  src/shared/interceptors/correlation-id.interceptor.spec.ts
  src/shared/interceptors/response.interceptor.spec.ts
  src/shared/services/logger.service.spec.ts
  src/shared/services/request-context.service.spec.ts
Due: tsc

test(cov): added additional test coverage
  package.json
  src/app.module.spec.ts
  src/config/configuration.spec.ts
  src/modules/meal-plans/dto/meal-plan-query.dto.spec.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.spec.ts
Due: tsc, npm-audit, license-check

test: added tests to meet 80% branch threshold
  src/app.module.spec.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.spec.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.spec.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.ts
  src/modules/meal-plans/utils/transformation.util.spec.ts
Due: tsc

refactor: refactored db connection to attempt reconnect when down
  package.json
  src/app.module.ts
  src/config/configuration.ts
  src/config/database.config.spec.ts
  src/config/database.config.ts
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/health/health.service.spec.ts
  src/modules/health/health.service.ts
  src/shared/index.ts
  src/shared/shared.module.spec.ts
  src/shared/shared.module.ts
Due: tsc, npm-audit, license-check

test: removed tests ignored by code cov
  src/app.module.spec.ts
  src/shared/shared.module.spec.ts
Due: tsc

refactor(dto): updates dto's to support meal plan endpoints
  docs/openapi/meal-plan-api.yaml
  src/modules/meal-plans/dto/api-responses.dto.ts
  src/modules/meal-plans/dto/create-meal-plan-recipe.dto.spec.ts
  src/modules/meal-plans/dto/create-meal-plan-recipe.dto.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.spec.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.ts
  src/modules/meal-plans/dto/index.ts
  src/modules/meal-plans/dto/meal-plan-by-id-query.dto.ts
  src/modules/meal-plans/dto/meal-plan-response.dto.ts
  src/modules/meal-plans/dto/meal-plan-statistics.dto.ts
  src/modules/meal-plans/dto/meal-plan-view-responses.dto.ts
  src/modules/meal-plans/dto/pagination.dto.spec.ts
  src/modules/meal-plans/dto/pagination.dto.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.spec.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.ts
  src/modules/meal-plans/enums/meal-type.enum.ts
  src/modules/meal-plans/enums/recipe-difficulty.enum.ts
Due: tsc

feat: implemented get meal plan endpoints
  package.json
  src/app.module.ts
  src/config/database.config.spec.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-by-id-query.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-by-id-query.dto.ts
  src/modules/meal-plans/dto/meal-plan-response.dto.ts
  src/modules/meal-plans/dto/meal-plan-statistics.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-statistics.dto.ts
  src/modules/meal-plans/dto/meal-plan-view-responses.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-view-responses.dto.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.spec.ts
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.controller.ts
  src/modules/meal-plans/meal-plans.module.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/meal-plans.service.ts
  src/modules/meal-plans/utils/transformation.util.spec.ts
Due: tsc, npm-audit, license-check

feat: implemented create meal plan endpoint
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.controller.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/meal-plans.service.ts
Due: tsc

feat: implemented update meal plan endpoint
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.controller.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/meal-plans.service.ts
Due: tsc

feat: implemented delete meal plan endpoint
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.controller.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/meal-plans.service.ts
Due: tsc

feat: implemented oauth2 support
  .env.example
  k8s/configmap-template.yaml
  k8s/secret-template.yaml
  package-lock.json
  package.json
  src/app.module.ts
  src/config/configuration.ts
  src/config/env.validation.ts
  src/config/oauth2.config.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/decorators/current-user.decorator.ts
  src/modules/auth/guards/jwt-auth.guard.ts
  src/modules/auth/guards/service-auth.guard.ts
  src/modules/auth/interfaces/jwt-payload.interface.ts
  src/modules/auth/services/service-auth.service.ts
  src/modules/auth/services/token-validation.service.ts
  src/modules/auth/strategies/jwt.strategy.ts
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.controller.ts
Due: tsc, kube-score, npm-audit, license-check

test: added tests for oauth2 implementation
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/decorators/current-user.decorator.spec.ts
  src/modules/auth/guards/jwt-auth.guard.spec.ts
  src/modules/auth/guards/service-auth.guard.spec.ts
  src/modules/auth/guards/service-auth.guard.ts
  src/modules/auth/services/service-auth.service.spec.ts
  src/modules/auth/services/token-validation.service.spec.ts
  src/modules/auth/services/token-validation.service.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
Due: tsc

docs: updated docs to reflect auth integration
  CLAUDE.md
  README.md
  docs/AUTHENTICATION.md
  docs/DATABASE.md
  docs/DATABASE_QUICK_REFERENCE.md
  docs/DATABASE_SETUP.md
  src/main.ts
  src/modules/meal-plans/meal-plans.controller.ts
Due: tsc

refactor: removed unused test endpoints & refactored health endpoint URI
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/modules/health/health.controller.ts
Due: tsc

feat: added metrics endpoint
  package-lock.json
  package.json
  src/app.module.ts
  src/modules/metrics/metrics.controller.spec.ts
  src/modules/metrics/metrics.controller.ts
  src/modules/metrics/metrics.module.ts
  src/modules/metrics/metrics.service.spec.ts
  src/modules/metrics/metrics.service.ts
Due: tsc, npm-audit, license-check

feat: added system endpoints
  src/app.module.ts
  src/modules/meal-plans/meal-plans.controller.ts
  src/modules/system/system.controller.spec.ts
  src/modules/system/system.controller.ts
  src/modules/system/system.module.ts
  src/modules/system/system.service.spec.ts
  src/modules/system/system.service.ts
Due: tsc

docs: updated open api spec with latest endpoint info
  docs/openapi/meal-plan-api.yaml
Due: none

docs: added postman collection for api
  docs/postman/Meal-Plan-Management-API.postman_collection.json
  docs/postman/Meal-Plan-Management-Development.postman_environment.json
  docs/postman/Meal-Plan-Management-Local.postman_environment.json
  docs/postman/README.md
Due: none

fix: fixed k8s health check paths
  k8s/deployment.yaml
Due: kube-score

chore: added codeowners file
  .github/CODEOWNERS
Due: none

test: updated hard-coded date tests to be dynamic
  src/modules/meal-plans/dto/create-meal-plan.dto.spec.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.spec.ts
  src/modules/meal-plans/validators/date-range.validator.spec.ts
Due: tsc

chore: increased dependabot PR limit
  .github/dependabot.yml
Due: none

ci: updated github config to align with org standards
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-and-a.yml
  .github/DISCUSSION_TEMPLATE/show-and-tell.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/security_vulnerability.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/greet.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-size.yml
Due: none

docs(claude): updated claude docs
  CLAUDE.md
Due: none

docs: updated docs with latest repo information
  docs/AUTHENTICATION.md
Due: none

fix: updated repo to use correct username (jsamuelsen11)
  .github/DEPENDABOT.md
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/security_vulnerability.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/dependabot.yml
Due: none
