Repository Recipe-Web-App/meal-plan-management-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, kube-score, docker-compose-check, prisma-format, npm-audit, license-check

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

tsc:
  name: TypeScript Compiler
  entry: npx tsc --noEmit
  language: node
  pass_filenames: false

kube-score:
  name: kube-score
  entry: "sh -c 'find k8s -name \"*.yaml\" -o -name \"*.yml\" -type f 2>/dev/null | xargs\n -r kube-score score || echo \"No k8s files found, skipping kube-score\"'\n"
  language: system
  pass_filenames: false

docker-compose-check:
  name: Docker Compose Check
  entry: docker-compose config -q
  language: system
  pass_filenames: false

prisma-format:
  name: Prisma Format
  entry: npx prisma format
  language: node
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: npm audit --audit-level moderate
  language: node
  pass_filenames: false

license-check:
  name: License Check
  entry: npm run license:check
  language: node
  pass_filenames: false

ci(pre-commit-ci): added pre-commit config for auto-updates
  .pre-commit-config.yaml
Due: none

chore: upgraded prisma integration to support 7.0
  .gitignore
  Dockerfile
  package-lock.json
  package.json
  prisma.config.ts
  prisma/schema.prisma
  src/config/database.config.ts
  src/modules/meal-plans/meal-plans.repository.integration.spec.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.transaction.spec.ts
  src/modules/meal-plans/meal-plans.repository.ts
  src/modules/meal-plans/meal-plans.service.ts
  src/modules/meal-plans/test-utils/meal-plan.factory.spec.ts
  src/modules/meal-plans/test-utils/meal-plan.factory.ts
  src/modules/meal-plans/test-utils/prisma.mock.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/seed/database-seeder.ts
  src/shared/database/seed/factories/meal-plan.factory.spec.ts
  src/shared/database/seed/factories/meal-plan.factory.ts
  src/shared/database/seed/factories/recipe.factory.ts
  src/shared/database/seed/factories/user.factory.ts
  src/shared/database/seed/test-database.spec.ts
  src/shared/database/transaction.service.spec.ts
  src/shared/database/transaction.service.ts
  src/test/__mocks__/prisma-client.ts
  tsconfig.build.json
  tsconfig.json
Due: tsc, prisma-format, npm-audit, license-check

chore: auto updated all pre commit hooks
  .pre-commit-config.yaml
  package-lock.json
Due: npm-audit

chore: auto updated all pre commit hooks (#223)
  .pre-commit-config.yaml
  package-lock.json
Due: npm-audit

feat(kong): migrated service from ingress nginx to kong gateway
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  scripts/containerManagement/README.md
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/update-container.sh
Due: kube-score

refactor(kong): updated service host references to use kong proxy
  CLAUDE.md
  docs/AUTHENTICATION.md
  docs/postman/Meal-Plan-Management-Development.postman_environment.json
  docs/postman/README.md
  src/config/oauth2.config.ts
Due: tsc

Kong migration (#226)
  CLAUDE.md
  docs/AUTHENTICATION.md
  docs/postman/Meal-Plan-Management-Development.postman_environment.json
  docs/postman/README.md
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  scripts/containerManagement/README.md
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/update-container.sh
  src/config/oauth2.config.ts
Due: tsc, kube-score

fix: fixed algorithm for disk usage check in health/metric endpoints
  src/modules/health/health.service.ts
Due: tsc

fix: fixed algorithm for disk usage check in health/metric endpoints (#227)
  src/modules/health/health.service.ts
Due: tsc

feat(bun-migration): migrated package manager to bun
  bun.lock
  package-lock.json
  package.json
Due: npm-audit, license-check

feat(bun-migration): migrated tests to bun
  bun.lock
  package.json
  src/config/configuration.spec.ts
  src/config/database.config.spec.ts
  src/config/logger.config.spec.ts
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/decorators/current-user.decorator.spec.ts
  src/modules/auth/guards/jwt-auth.guard.spec.ts
  src/modules/auth/guards/service-auth.guard.spec.ts
  src/modules/auth/services/service-auth.service.spec.ts
  src/modules/auth/services/token-validation.service.spec.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.service.spec.ts
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.repository.integration.spec.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.transaction.spec.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/services/meal-plan-validation.service.spec.ts
  src/modules/meal-plans/utils/transformation.util.spec.ts
  src/modules/meal-plans/validators/meal-plan-overlap.validator.spec.ts
  src/modules/meal-plans/validators/recipe-exists.validator.spec.ts
  src/modules/metrics/metrics.controller.spec.ts
  src/modules/metrics/metrics.service.spec.ts
  src/modules/system/system.controller.spec.ts
  src/modules/system/system.service.spec.ts
  src/shared/database/connection.service.spec.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/seed/factories/meal-plan.factory.spec.ts
  src/shared/database/seed/factories/recipe.factory.spec.ts
  src/shared/database/seed/factories/user.factory.spec.ts
  src/shared/database/seed/test-database.spec.ts
  src/shared/database/transaction.service.spec.ts
  src/shared/filters/http-exception.filter.spec.ts
  src/shared/interceptors/correlation-id.interceptor.spec.ts
  src/shared/interceptors/response.interceptor.spec.ts
  src/shared/services/logger.service.spec.ts
  src/shared/services/request-context.service.spec.ts
Due: tsc, npm-audit, license-check

feat(bun-migration): migrated github config to bun
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/database.yml
  .github/workflows/documentation.yml
  .github/workflows/environment.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
Due: none

feat(bun-migration): migrated pre-commit to bun & resolved errors
  .pre-commit-config.yaml
  bun.lock
  package.json
  src/modules/meal-plans/dto/create-meal-plan-recipe.dto.spec.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-by-id-query.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-query.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-response.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-statistics.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-view-responses.dto.spec.ts
  src/modules/meal-plans/dto/pagination.dto.spec.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.spec.ts
  src/modules/meal-plans/test-utils/meal-plan.factory.spec.ts
  src/modules/meal-plans/utils/transformation.util.spec.ts
  src/modules/meal-plans/validators/date-range.validator.spec.ts
  src/modules/meal-plans/validators/sanitizers/simple-sanitizer.validator.spec.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/interceptors/correlation-id.interceptor.spec.ts
  src/shared/interceptors/response.interceptor.spec.ts
  tsconfig.build.json
  tsconfig.json
Due: tsc, npm-audit, license-check

feat(bun-migration): migrated dockerfile to bun
  .dockerignore
  Dockerfile
  bun.lock
  docker-compose.dev.yml
  package.json
  scripts/containerManagement/deploy-container.sh
Due: docker-compose-check, npm-audit, license-check

feat(bun-migration): migrated docs to bun
  CLAUDE.md
  README.md
  docs/AUTHENTICATION.md
  docs/DATABASE.md
  docs/DATABASE_QUICK_REFERENCE.md
  docs/DATABASE_SETUP.md
Due: none

ci(renovate): migrated from dependabot to renovate for bun support
  .github/DEPENDABOT.md
  .github/RENOVATE.md
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/validate-dependabot.yml
Due: none

ci(renovate): migrated from dependabot to renovate for bun support (#242)
  .github/DEPENDABOT.md
  .github/RENOVATE.md
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/validate-dependabot.yml
Due: none

fix: updated bun.lock
  bun.lock
Due: none

fix: fixed broken ingress host reference in deployment script
  scripts/containerManagement/deploy-container.sh
Due: none

Deployment fix (#244)
  bun.lock
  scripts/containerManagement/deploy-container.sh
Due: none

docs(meal-plan-favs): updated open api spec with meal plan favorite endpoints
  docs/openapi/meal-plan-api.yaml
Due: none

chore(meal-plan-favs): added models & types to support meal plan favorite endpoints
  src/modules/meal-plans/dto/index.ts
  src/modules/meal-plans/dto/meal-plan-favorite.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-favorite.dto.ts
Due: tsc

chore(meal-plan-favs): updated prisma client to support meal plan favorite endpoints
  prisma/schema.prisma
Due: prisma-format

feat(meal-plan-favs): updated repository/service/controller to support meal plan favorite endpoints
  src/modules/meal-plans/meal-plan-favorites.controller.spec.ts
  src/modules/meal-plans/meal-plan-favorites.controller.ts
  src/modules/meal-plans/meal-plan-favorites.repository.spec.ts
  src/modules/meal-plans/meal-plan-favorites.repository.ts
  src/modules/meal-plans/meal-plan-favorites.service.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.ts
  src/modules/meal-plans/meal-plans.module.ts
Due: tsc

Add meal plan favorites (#245)
  docs/openapi/meal-plan-api.yaml
  prisma/schema.prisma
  src/modules/meal-plans/dto/index.ts
  src/modules/meal-plans/dto/meal-plan-favorite.dto.spec.ts
  src/modules/meal-plans/dto/meal-plan-favorite.dto.ts
  src/modules/meal-plans/meal-plan-favorites.controller.spec.ts
  src/modules/meal-plans/meal-plan-favorites.controller.ts
  src/modules/meal-plans/meal-plan-favorites.repository.spec.ts
  src/modules/meal-plans/meal-plan-favorites.repository.ts
  src/modules/meal-plans/meal-plan-favorites.service.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.ts
  src/modules/meal-plans/meal-plans.module.ts
Due: tsc, prisma-format

feat(meal-plan-tags): implemented support for meal plan tags
  docs/openapi/meal-plan-api.yaml
  prisma/schema.prisma
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/guards/jwt-auth.guard.spec.ts
  src/modules/auth/guards/service-auth.guard.spec.ts
  src/modules/auth/services/service-auth.service.spec.ts
  src/modules/auth/services/token-validation.service.spec.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.service.spec.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.ts
  src/modules/meal-plans/dto/index.ts
  src/modules/meal-plans/dto/meal-plan-response.dto.ts
  src/modules/meal-plans/dto/meal-plan-tag.dto.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.ts
  src/modules/meal-plans/meal-plan-favorites.controller.spec.ts
  src/modules/meal-plans/meal-plan-favorites.repository.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.ts
  src/modules/meal-plans/meal-plan-tags.controller.spec.ts
  src/modules/meal-plans/meal-plan-tags.controller.ts
  src/modules/meal-plans/meal-plan-tags.repository.spec.ts
  src/modules/meal-plans/meal-plan-tags.repository.ts
  src/modules/meal-plans/meal-plan-tags.service.spec.ts
  src/modules/meal-plans/meal-plan-tags.service.ts
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.module.ts
  src/modules/meal-plans/meal-plans.repository.integration.spec.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.transaction.spec.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/meal-plans.service.ts
  src/modules/metrics/metrics.controller.spec.ts
  src/shared/database/connection.service.spec.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/transaction.service.spec.ts
Due: tsc, prisma-format

feat(meal-plan-tags): implemented support for meal plan tags (#246)
  docs/openapi/meal-plan-api.yaml
  prisma/schema.prisma
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/guards/jwt-auth.guard.spec.ts
  src/modules/auth/guards/service-auth.guard.spec.ts
  src/modules/auth/services/service-auth.service.spec.ts
  src/modules/auth/services/token-validation.service.spec.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.service.spec.ts
  src/modules/meal-plans/dto/create-meal-plan.dto.ts
  src/modules/meal-plans/dto/index.ts
  src/modules/meal-plans/dto/meal-plan-response.dto.ts
  src/modules/meal-plans/dto/meal-plan-tag.dto.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.ts
  src/modules/meal-plans/meal-plan-favorites.controller.spec.ts
  src/modules/meal-plans/meal-plan-favorites.repository.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.ts
  src/modules/meal-plans/meal-plan-tags.controller.spec.ts
  src/modules/meal-plans/meal-plan-tags.controller.ts
  src/modules/meal-plans/meal-plan-tags.repository.spec.ts
  src/modules/meal-plans/meal-plan-tags.repository.ts
  src/modules/meal-plans/meal-plan-tags.service.spec.ts
  src/modules/meal-plans/meal-plan-tags.service.ts
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.module.ts
  src/modules/meal-plans/meal-plans.repository.integration.spec.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.transaction.spec.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/meal-plans.service.ts
  src/modules/metrics/metrics.controller.spec.ts
  src/shared/database/connection.service.spec.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/transaction.service.spec.ts
Due: tsc, prisma-format

docs(trending-meal-plans): updated open api spec to include get-trending-meal-plans endpoint
  docs/openapi/meal-plan-api.yaml
Due: none

feat(trending-meal-plans): updated service to support new endpoint
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.controller.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/meal-plans.service.ts
Due: tsc

Get trending meal plans impl (#247)
  docs/openapi/meal-plan-api.yaml
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.controller.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/meal-plans.service.ts
Due: tsc

fix(es-lint): fixed es-lint config in precommit
  .pre-commit-config.yaml
Due: none

chore(es-lint): fixed all latent eslint findings in project
  src/config/database.config.spec.ts
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/guards/service-auth.guard.spec.ts
  src/modules/auth/services/service-auth.service.spec.ts
  src/modules/auth/services/token-validation.service.spec.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
  src/modules/meal-plans/dto/meal-plan-by-id-query.dto.spec.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.ts
  src/modules/meal-plans/meal-plan-favorites.service.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.ts
  src/modules/meal-plans/meal-plan-tags.service.spec.ts
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.transaction.spec.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/services/meal-plan-validation.service.spec.ts
  src/modules/meal-plans/test-utils/prisma.mock.ts
  src/modules/meal-plans/validators/meal-plan-overlap.validator.spec.ts
  src/modules/meal-plans/validators/recipe-exists.validator.spec.ts
  src/modules/metrics/metrics.controller.spec.ts
  src/shared/database/connection.service.spec.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/transaction.service.spec.ts
  src/shared/interceptors/correlation-id.interceptor.spec.ts
  src/shared/services/logger.service.spec.ts
  src/test/__mocks__/prisma-client.ts
Due: tsc

Eslint fix (#248)
  .pre-commit-config.yaml
  src/config/database.config.spec.ts
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/guards/service-auth.guard.spec.ts
  src/modules/auth/services/service-auth.service.spec.ts
  src/modules/auth/services/token-validation.service.spec.ts
  src/modules/auth/strategies/jwt.strategy.spec.ts
  src/modules/meal-plans/dto/meal-plan-by-id-query.dto.spec.ts
  src/modules/meal-plans/dto/update-meal-plan.dto.ts
  src/modules/meal-plans/meal-plan-favorites.service.spec.ts
  src/modules/meal-plans/meal-plan-favorites.service.ts
  src/modules/meal-plans/meal-plan-tags.service.spec.ts
  src/modules/meal-plans/meal-plans.controller.spec.ts
  src/modules/meal-plans/meal-plans.repository.spec.ts
  src/modules/meal-plans/meal-plans.repository.transaction.spec.ts
  src/modules/meal-plans/meal-plans.service.spec.ts
  src/modules/meal-plans/services/meal-plan-validation.service.spec.ts
  src/modules/meal-plans/test-utils/prisma.mock.ts
  src/modules/meal-plans/validators/meal-plan-overlap.validator.spec.ts
  src/modules/meal-plans/validators/recipe-exists.validator.spec.ts
  src/modules/metrics/metrics.controller.spec.ts
  src/shared/database/connection.service.spec.ts
  src/shared/database/seed/database-seeder.spec.ts
  src/shared/database/transaction.service.spec.ts
  src/shared/interceptors/correlation-id.interceptor.spec.ts
  src/shared/services/logger.service.spec.ts
  src/test/__mocks__/prisma-client.ts
Due: tsc

docs: updated claude.md
  CLAUDE.md
Due: none

docs: updated all outdated docs
  README.md
  docs/DATABASE.md
  docs/DATABASE_QUICK_REFERENCE.md
  k8s/README.md
Due: none

Doc update (#249)
  CLAUDE.md
  README.md
  docs/DATABASE.md
  docs/DATABASE_QUICK_REFERENCE.md
  k8s/README.md
Due: none

refactor(redis): updated redis config to support new database
  .env.example
  k8s/README.md
  k8s/configmap-template.yaml
  src/config/configuration.ts
  src/config/env.validation.ts
Due: tsc, kube-score

refactor(redis): updated redis config to support new database (#250)
  .env.example
  k8s/README.md
  k8s/configmap-template.yaml
  src/config/configuration.ts
  src/config/env.validation.ts
Due: tsc, kube-score

Path conditions:
  eslint: any of: \.(js|ts|jsx|tsx)$ and \.(js|mjs|cjs)$ and \.(ts|mts|cts)$ and not (node_modules/)
  tsc: any of: \.(ts|mts|cts)$, but not: node_modules/
  kube-score: any of: k8s/.*\.ya?ml$
  docker-compose-check: any of: docker-compose.*\.ya?ml$
  prisma-format: any of: schema\.prisma$
  npm-audit: any of: package(-lock)?\.json$
  license-check: any of: package\.json$
